@import "../../styles/Colors.module.scss";

.home .content {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;
    padding-bottom: 80px;
}

.welcome > div {
    padding-bottom: 40px;
}

.welcome > div:last-child {
    padding-bottom: 0;
}

.welcome p {
    text-align: center;
}

.welcome .title p {
    font-size: 1.8em;
}

.welcome .info p {
    font-size: 1.0em;
    @include fontWhiteTrans();
}

.welcome .end p {
    font-size: 1.2em;
}
