@import "styles/Colors.module.scss";

/* general */

html, body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @include blueDark;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
}

img {
    display: block;
}

/* fonts */

@font-face {
    font-family: "Ubuntu-Regular";
    src: URL("./styles/fonts/Ubuntu-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "UbuntuMono-Regular";
    src: URL("./styles/fonts/UbuntuMono-Regular.ttf") format("truetype");
}

button, input, a, p {
    font-optical-sizing: auto;
    font-family: "Ubuntu-Regular", sans-serif;
    font-size: 1.0em;
    color: #ffffff;
}

p {
    white-space: wrap;
}
